<app-header></app-header>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Home</h1>
        </div>
        <!-- Home page content -->
        <div class="text-center">
          <img src="../../../assets/wele.gif" alt="welcome">
        </div>

        <div class="text-center">
          <div class="text-center"> 
            <br/>
            <h3 class="text-warning">To Your File Box</h3>
            <h5 class="text-warning">Wanna PROTECT Your FILES ?! </h5>
            
            <h5 class="text-warning">=> Bring them to the CLOUD with BOXOUME</h5>
          </div>
          <img src="../../../assets/box.png" alt="box">
        </div>

      </div>
    </main>

  </div>
</div>